.w-schedule
  text-align: center
  .custom-select
    padding: 0 10px
    height: auto

  .table
    font-size: 0.825rem
    text-align: center
    margin-bottom: 0

    display: flex

    .cell-header
      height: 24px
      line-height: 24px
      padding: 0 4px

    .cell, .cell-header, .cell-side
      margin: 5px 5px

    .cell, .cell-side
      height: 26px
      line-height: 26px
      padding: 4px 0

    .cell
      cursor: pointer

      &.disabled
        cursor: not-allowed
        pointer-events: none






