.table.services
  max-width: 400px

  .form-group
    margin-bottom: 0
    display: flex
    .btn:not(:last-child)
      margin-right: 5px
  td
    vertical-align: middle

  .actions
    width: 110px

  .name
    width: 200px
    line-height: 30px
  .price
    width: 50px
    line-height: 30px

