//  BACKGROUND COLORS

.btn-primary:hover
  background-color: $color-grey-tone-1

.about__mission,
.team__container
  background-color: $color-grey-tone-2

.about__testimonials
  background-color: $color-brown-tone-1

h2::after
  background-color: $color-brown-tone-2

.page-header__top,
.navbar-mobile,
.btn-secondary:hover
  background-color: $color-brown-tone-3


//  TEXT COLORS

.page-header,
.nav-item a,
h1,
.about__testimonials,
.team-member__info,
.btn-secondary:hover,
.reserv__step
  color: $color-grey-tone-1

h2
  color: $color-brown-tone-3

a:not([href]):not([tabindex]):hover,
.btn-secondary
  color: $color-brown-tone-3


//  BORDER COLORS
.btn-primary:hover
  border-color: $color-grey-tone-1

.btn-secondary,
.btn-secondary:hover
  border-color: $color-brown-tone-3