//  BACKGROUND COLORS

.btn-primary:hover,
.btn-submit,
.flash__notice
  background-color: $color-grey-tone-1

.about__mission,
.team__container
  background-color: $color-grey-tone-2

.about__testimonials
  background-color: $color-brown-tone-1

h2::after,
.flash__error
  background-color: $color-brown-tone-2

.page-header__top,
.navbar-mobile,
.btn-secondary:hover,
.btn-submit:hover,
.reserv__step-1,
.reserv__step-2,
.reserv__step-3
  background-color: $color-brown-tone-3


//  TEXT COLORS

.page-header,
.nav-item a,
h1,
.about__testimonials,
.team-member__info,
.btn-secondary:hover,
.btn-submit:hover,
.reserv__step-1,
.reserv__step-2,
.reserv__step-3,
.flash__error,
input,
.custom-select
  color: $color-grey-tone-1

h2
  color: $color-brown-tone-3

a:not([href]):not([tabindex]):hover,
.btn-secondary,
.btn-primary:hover,
.flash__notice,
.btn-submit
  color: $color-brown-tone-3


//  BORDER COLORS
.btn-primary:hover,
input,
.custom-select,
.btn-submit,
.btn-submit:hover
  border-color: $color-grey-tone-1

.btn-secondary,
.btn-secondary:hover
  border-color: $color-brown-tone-3