.reservation
  width: 100%
  min-height: calc(100vh - 85px)
  @include background-img('booking.jpg')
  padding: 100px 50px
  @media screen and (max-width: 475px)
    padding: 100px 20px

.reserv__container
  display: flex
  justify-content: space-around
  flex-wrap: wrap

.reserv__step
  background-color: $color-brown-tone-3
  flex-basis: 375px
  height: 600px
  @media screen and (max-width: 1225px)
    &:not(:last-of-type)
      margin-bottom: 50px


.reserv__step.step-1
  display: flex
  flex-direction: column
  justify-content: space-between

.barbers__header
  flex-grow: 10
  p
    color: $color-brown-tone-2

.barbers__img,
.barbers__names
  cursor: pointer

.barbers__img
  display: flex

  .barbers__img__cont
    width: 20%
    height: 400px
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
    &.active
      outline: 4px solid $color-grey-tone-1
      outline-offset: -4px

.barbers__names
  display: flex
  padding-bottom: 10px
  span
    flex-basis: 20%
    color: $color-brown-tone-2
    &.active
      color: $color-grey-tone-1


.reserv__step.step-2
  .times
    display: flex
    flex-wrap: wrap
    justify-content: center

  .time
    border: 3px solid $color-grey-tone-1
    padding: 5px 10px
    cursor: pointer
    margin-bottom: 15px

    &:nth-child(odd)
      margin-right: 15px

    &.active
      background-color: $color-grey-tone-1
      color: $color-brown-tone-3


.reserv__step.step-2,
.reserv__step.step-3
  padding-left: 50px
  padding-right: 50px
  form
    display: flex
    flex-direction: column

    input, select
      margin-bottom: 15px

  input, select
    margin-bottom: 15px
