%nav.navbar.navbar-expand-lg.justify-content-center
  %ul.nav.justify-content-center.nav-tabs#adminTab{role: 'tablist'}
    %li.nav-item
      %router-link{to: '/', class:'nav-link', exact: '', id: 'dashboard-tab', 'data-toggle': 'tab', role: 'tab', 'aria-controls': 'home', 'aria-expanded': 'true'} Dashboard
    %li.nav-item
      %router-link{to: '/services', class:'nav-link', id: 'service-tab', 'data-toggle': 'tab', role: 'tab', 'aria-controls': 'home', 'aria-expanded': 'true'} Services
    %li.nav-item
      %router-link{to: '/schedule', class:'nav-link', id: 'service-tab', 'data-toggle': 'tab', role: 'tab', 'aria-controls': 'home', 'aria-expanded': 'true'} Schedule

%router-view
