// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.debug_dump {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px;
  border: 1px solid #adadad;
  border-radius: 5px;
  background-color: #e0e0e0;
}