@import "1-base/colors";

$theme-colors: (
        primary: $color-blue,
        secondary: $color-grey,
        success: $color-green,
        info: $color-teal,
        warning: $color-yellow,
        danger: $color-red,
        light: $color-light-grey,
        dark: $color-dark-grey
);

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "1-base/mixins";
@import "1-base/fonts";
@import "1-base/layout";

@import "2-elements/debug-dump";
@import "2-elements/buttons";
@import "2-elements/flash";
@import "2-elements/date-input";
@import "2-elements/table-schedule";

@import "3-widgets/today";
@import "3-widgets/activities";

@import "4-views/services";
@import "4-views/schedule";
@import "4-views/dashboard";

#app {
  text-align: center;
}
