$color-blue: #00A0DC
$color-purple: #A589D9
$color-red: #EC4339

$color-light-orange: #FFE7BB
$color-orange: #F47B16

$color-light-teal: #D2ECEB
$color-teal: #00AEB3

$color-yellow: #EFB920
$color-pink: #F371AF
$color-green: #7CB82F

$color-light-grey: #E6E9EC
$color-grey: #A0A3A6
