- if object && object.errors.size > 0
  .flash__error
    %p Cannot make a reservation because of the following problems:
    %ul.list-unstyled
      - object.errors.full_messages.each do |msg|
        %li #{msg}
