%ul.nav
  %li.nav-item
    %a.nav-link{href: '/#home'} Home
  %li.nav-item
    %a.nav-link{href: '/#home'} What we are
  %li.nav-item
    %a.nav-link{href: '/#home'} Who we are
  %li.nav-item
    %a.nav-link{href: '/#home'} What we do
  %li.nav-item
    %a.nav-link{href: '/#home'} Where we are