%ul.nav
  %li.nav-item
    %a.nav-link{href: '/#hero'} Home
  %li.nav-item
    %a.nav-link{href: '/#about'} What we are
  %li.nav-item
    %a.nav-link{href: '/#team'} Who we are
  %li.nav-item
    %a.nav-link{href: '/#services'} What we do
  %li.nav-item
    %a.nav-link{href: '/#contacts'} Where we are