<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
        <%= render 'layouts/admin/default' %>
    </head>

    <body>
        <%= debug(params) if Rails.env.development? %>

        <%= yield %>
    </body>
</html>
