.w-today
  width: 470px
  display: inline-block

  @include block()
  text-align: center
  border-color: $color-teal
  background-color: lighten($color-light-teal, 10%)
  color: $color-teal

  .table
    font-size: 0.825rem
    text-align: center
    margin-bottom: 0

    display: grid
    grid-template-columns: 65px repeat(5, 1fr)
    grid-row-gap: 5px
    grid-column-gap: 5px

    .time
      padding: 5px 0
      text-align: left

    .avatar
      width: 65px
      height: 100px
      overflow: hidden

      img
        object-fit: cover
        width: 140%
        margin-top: -5px
        margin-left: -10px

    .names
      margin-bottom: 10px
