.w-today
  margin: 30px
  .table
    width: 450px
    font-size: 0.825rem
    text-align: center

    display: grid
    grid-template-columns: 65px repeat(5, 1fr)

    div
      outline: 1px solid deeppink
